# Python
*.py[co]
*.egg*
_version.py
dist/
venv/

# Logs:
*.log

# Linux Editors
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*
*.swp
*.swo

# Mac
.DS_Store
._*

# Windows
Thumbs.db
Desktop.ini

# Dev tools
.idea

# Coverage
htmlcov/
.coverage
